body {
  background-color: #faf2f2;


}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: thick;
  height: 0px;
  width: 5%
}

img {

  height: 45%
}

h1{

color: #c70039;


}


h2{

color: #f37121;

}



h3{

color: #f37121;

}
